@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); /* ------------- General Styling ------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  color: white;
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #5b6cff;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
.btn {
  cursor: pointer;
}
/* ------------- Header Styling ------------- */
header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: calc(100% - 16%);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  background: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 0px solid rgba(128, 128, 128, 0.2);
  transition: 0.3s;
}
header.scrolled {
  height: 70px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
header .logo {
  cursor: pointer;
}
header .logo svg {
  width: 128px;
  height: 32px;
}
header .links {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
header .links .link {
  position: relative;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 138.667% */
  cursor: pointer;
}
header .links .link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: white;
  z-index: 1;
  transition: 0.3s;
}
header .links .link:hover::before {
  width: 100%;
}
header .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .btns .btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .btns .btn .text {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 106.667% */
}
header .btns .btn-1,
header .btns .btn-2 {
  position: relative;
  transition: 0.3s;
}
header .btns .btn-1 .text,
header .btns .btn-2 .text {
  transition: 0.3s;
  color: white;
}
header .btns .btn-1::before,
header .btns .btn-2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  padding: 0px;
  background-color: white;
  transition: 0.3s;
  z-index: -1;
  border-radius: 360px;
}
header .btns .btn-1:hover::before,
header .btns .btn-2:hover::before {
  width: 100%;
  height: 100%; /* padding: 10px 20px; */
}
header .btns .btn-1:hover .text,
header .btns .btn-2:hover .text {
  color: black;
}
header .btns .btn-1:hover,
header .btns .btn-2:hover {
  padding: 10px 20px;
}
header .btns .btn-3 {
  padding: 10px 20px;
  border-radius: 64px;
  background: #5b6cff;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
  transition: 0.3s;
}
header .btns .btn-3:hover {
  background: #3d4dd7;
}
header .btns .btn-3 .text {
  font-size: 16px;
}
.menu-icon {
  cursor: pointer;
  width: 30px;
  height: 15px;
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.menu-icon span {
  width: 30px;
  background-color: white;
  height: 2px;
}
/* ------------- Hero Section Styling ------------- */
.hero-section {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hero-section .head {
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-section .head .heading {
  color: #fff;
  text-align: center;
  font-size: 103px;
  font-style: normal;
  font-weight: 400;
  line-height: 121px; /* 117.476% */
  letter-spacing: -2px;
  transform: translateY(200px);
  opacity: 0;
  transition: 1.5s;
}
.show-hero-section .head .heading {
  transform: translateY(0px);
  opacity: 1;
}
.hero-section .head .title {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px; /* 130% */
  transform: translateY(200px);
  opacity: 0;
  transition: 1.5s 0.2s;
}
.show-hero-section .head .title {
  transform: translateY(0px);
  opacity: 1;
}
.hero-section .head .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero-section .head .btns .btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
.hero-section .head .btns .btn .text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.hero-section .head .btns .btn-1 {
  border-radius: 64px;
  background: #5b6cff;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
  transform: translateY(200px);
  opacity: 0;
}
.show-hero-section .head .btns .btn-1 {
  transition: 1.5s 0.4s;
  transform: translateY(0px);
  opacity: 1;
}
.hero-section .head .btns .btn-1:hover {
  transition: 0.3s;
  background: #3d4dd7;
}
.hero-section .head .btns .btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
  transform: translateY(200px);
  opacity: 0;
  transition: 1.5s 0.6s;
}
.show-hero-section .head .btns .btn-2 {
  transform: translateY(0px);
  opacity: 1;
}
.hero-section .head .btns .btn-2 i {
  font-size: 13px;
}
.hero-section .head .btns .btn-2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: width 0.5s ease;
}
.hero-section .head .btns .btn-2:hover:before {
  width: 100%;
}
.hero-section .images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  transition: 3s 1s;
}
.show-hero-section .images {
  opacity: 1;
}
.hero-section .images img:nth-child(1) {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.hero-section .images img:nth-child(2) {
  width: 1356.8px;
  height: 656.337px;
  flex-shrink: 0;
}
.hero-section .images img:nth-child(3),
.hero-section .images img:nth-child(4) {
  position: absolute;
  width: 1085px;
  height: 615px;
  object-fit: cover;
  flex-shrink: 0;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}
.hero-section .images img:nth-child(3) {
  height: 612px;
}
/* ------------- Section-1 Styling ------------- */
.section-1 {
  width: calc(100% - 16%);
  padding: 0 8%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.section-1 .col-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
.section-1 .col-1 .head-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.section-1 .col-1 .head-text .heading {
  color: #fff;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px; /* 117.333% */
  letter-spacing: -2px;
  transition: 1s;
  transform: translateX(200px);
  opacity: 0;
}
.show-section-1 .col-1 .head-text .heading {
  transform: translateX(0px);
  opacity: 1;
}
.section-1 .col-1 .head-text .title {
  color: rgba(255, 255, 255, 0.65);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 138.667% */
  transition: 1s 0.2s;
  transform: translateX(200px);
  opacity: 0;
}
.show-section-1 .col-1 .head-text .title {
  transform: translateX(0px);
  opacity: 1;
}
.section-1 .col-1 .bottom-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.section-1 .col-1 .bottom-text .head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: 1s 0.4s;
  transform: translateX(200px);
  opacity: 0;
}
.show-section-1 .col-1 .bottom-text .head {
  transform: translateX(0px);
  opacity: 1;
}
.section-1 .col-1 .bottom-text .head h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px;
  letter-spacing: -0.25px;
}
.section-1 .col-1 .bottom-text .head h1 span {
  color: #fff;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px; /* 132.414% */
  letter-spacing: -0.25px;
}
.section-1 .col-1 .bottom-text .title {
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.6px; /* 141.818% */
  transform: translateY(200px);
  opacity: 0;
  transition: 1s 0.6s;
}
.show-section-1 .col-1 .bottom-text .title {
  transform: translateX(0px);
  opacity: 1;
}
.section-1 .col-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  gap: 4rem;
}
.section-1 .col-2 .gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}
.section-1 .col-2 .col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 490px;
  overflow: hidden;
  transform: translateY(200px);
  opacity: 0;
}
.section-1 .col-2 .col:nth-child(2) img:nth-child(1) {
  width: 121px;
  height: 31.5px;
}
.section-1 .col-2 .col:nth-child(2) img:nth-child(2) {
  width: 136.5px;
  height: 34.5px;
}
.section-1 .col-2 .col:nth-child(2) img:nth-child(3) {
  width: 136.475px;
  height: 25.75px;
  flex-shrink: 0;
}
.section-1 .col-2 .col:nth-child(2) img:nth-child(4) {
  width: 78.5px;
  height: 45px;
}
.section-1 .col-2 .col:nth-child(2) img:nth-child(5) {
  width: 121px;
  height: 31.5px;
}
.section-1 .col-2 .col:nth-child(2) img:nth-child(6) {
  width: 126.99px;
  height: 47.109px;
  flex-shrink: 0;
}
.section-1 .col-2 .col:nth-child(3) img:nth-child(1) {
  display: flex;
  width: 136.5px;
  height: 25.75px;
  padding: 0px 0.012px 0px 0.013px;
  justify-content: center;
  align-items: center;
}
.section-1 .col-2 .col:nth-child(3) img:nth-child(2) {
  width: 113.5px;
  height: 29.5px;
}
.section-1 .col-2 .col:nth-child(3) img:nth-child(3) {
  width: 109.5px;
  height: 33.5px;
}
.section-1 .col-2 .col:nth-child(3) img:nth-child(4) {
  width: 179px;
  height: 24.5px;
}
.section-1 .col-2 .col:nth-child(3) img:nth-child(5) {
  width: 105.5px;
  height: 22.5px;
}
.section-1 .col-2 .col:nth-child(3) img:nth-child(6) {
  width: 113.481px;
  height: 29.766px;
  flex-shrink: 0;
}
.section-1 .col-2 .col:nth-child(3) img:nth-child(7) {
  width: 109.498px;
  height: 13.906px;
  flex-shrink: 0;
}
.section-1 .col-2 .col:nth-child(3) img:nth-child(8) {
  width: 83px;
  height: 59.672px;
}
.section-1 .col-2 .col:nth-child(2) {
  transition: 1s 0.8s;
}
.section-1 .col-2 .col:nth-child(3) {
  transition: 1s 1s;
}
.show-section-1 .col-2 .col:nth-child(2),
.show-section-1 .col-2 .col:nth-child(3) {
  transform: translateY(0);
  opacity: 1;
}
/* ------------- Section-2 Styling ------------- */
.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 16%);
  padding: 70px 8%;
  background: #fff;
  color: black;
  gap: 7rem;
  overflow: hidden;
}
.section-2 .head {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.section-2 .head .title {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 70.4px; /* 110% */
  letter-spacing: -2px;
  transform: translateX(200px);
  opacity: 0;
  transition: 1s;
}
.show-section-2 .head .title {
  transform: translateX(0);
  opacity: 1;
}
.section-2 .head .heading {
  color: #000;
  font-size: 310px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -2px;
  transform: translateX(250px);
  opacity: 0;
  transition: 1s 0.3s;
}
.show-section-2 .head .heading {
  transform: translateX(0);
  opacity: 1;
}
.section-2 .cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.section-2 .cards .big-card {
  position: relative;
  transform: translateY(200px);
  opacity: 0;
  transition: 1s;
}
.section-2 .cards .show-big-card {
  transform: translateY(0);
  opacity: 1;
}
.section-2 .cards .big-card .texts {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}
.section-2 .cards .big-card .texts .heading {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.2px;
}
.section-2 .cards .big-card .texts .title {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 130% */
}
.section-2 .cards .big-card img {
  width: 100%;
}
.section-2 .cards .two-card .card:nth-child(1) {
  transform: translateX(-200px);
  opacity: 0;
  transition: 1s 0.4s;
}
.section-2 .cards .two-card .card:nth-child(2) {
  transform: translateX(200px);
  opacity: 0;
  transition: 1s;
}
.section-2 .cards .show-two-card .card:nth-child(1),
.section-2 .cards .show-two-card .card:nth-child(2) {
  transform: translateX(0);
  opacity: 1;
}
.section-2 .cards .two-card:nth-child(2) .card {
  position: relative;
}
.section-2 .cards .two-card:nth-child(2) {
  display: flex;
  gap: 2rem;
}
.section-2 .cards .two-card:nth-child(2) {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2fr 1.5fr;
}
.section-2 .cards .two-card:nth-child(2) .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.section-2 .cards .two-card:nth-child(2) .card:nth-child(2) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}
.section-2 .cards .two-card:nth-child(2) .card .texts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.section-2 .cards .two-card:nth-child(2) .card .texts .heading {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.2px;
}
.section-2 .cards .two-card:nth-child(2) .card .texts .title {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 130% */
}
.section-2 .cards .two-card:nth-child(2) .card img {
  width: 100%;
}
.section-2 .cards .two-card:nth-child(2) .card:nth-child(2) img {
  position: absolute;
  bottom: 0;
}
.section-2 .cards .two-card:nth-child(2) .card:nth-child(2) svg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-2 .cards .two-card:nth-child(2) .card:nth-child(2) .texts {
  color: white;
}
.section-2 .cards .two-card:nth-child(2) .card:nth-child(2) .texts .heading {
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 136.842% */
  letter-spacing: -0.2px;
}
.section-2 .cards .two-card:nth-child(2) .card:nth-child(2) .texts .title {
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 148.571% */
}
.section-2 .cards .two-card:nth-child(2) .card:nth-child(2) img {
  border-radius: 20px 20px 0 0;
  width: 80%;
}
.section-2 .cards .two-card:nth-child(3) {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.section-2 .cards .two-card:nth-child(3) .card {
  position: relative;
  width: 100%;
}
.section-2 .cards .two-card:nth-child(3) .card img {
  width: 100%;
}
.section-2 .cards .two-card:nth-child(3) .card .texts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.section-2 .cards .two-card:nth-child(3) .card:nth-child(1) .texts {
  color: white;
}
.section-2 .cards .two-card:nth-child(3) .card:nth-child(1) .texts .heading {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  letter-spacing: -0.2px;
}
.section-2 .cards .two-card:nth-child(3) .card:nth-child(1) .texts .title {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 130% */
}
.section-2 .cards .two-card:nth-child(3) .card:nth-child(1) img:nth-child(2) {
  position: absolute;
  bottom: 0;
}
.section-2 .cards .two-card:nth-child(3) .card:nth-child(2) .texts {
  position: absolute;
  top: 0;
  left: 0;
}
.section-2 .cards .two-card:nth-child(3) .card:nth-child(2) .texts .heading {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.2px;
}
.section-2 .cards .two-card:nth-child(3) .card:nth-child(2) .texts .title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 130% */
}
.section-2 .cards .two-card:nth-child(3) .card:nth-child(2) img:nth-child(2) {
  position: absolute;
  width: auto;
  height: 100%;
  bottom: 0;
  right: 0;
}
.section-2 .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 64px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}
.section-2 .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: width 0.5s ease;
}
.section-2 .btn:hover:before {
  width: 100%;
}
.section-2 .btn svg {
  transition: 0.3s;
  height: 20px;
}
.section-2 .btn:hover svg {
  transform: translateX(10px);
}
.section-2 .btn .text {
  font-size: 16px;
}
/* ------------- Section-3 Styling ------------- */
.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 16%);
  padding: 70px 8%;
  overflow: hidden;
}
.section-3 .head-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section-3 .head-container img {
  width: 100%;
  opacity: 0;
  transform: translateX(-200px);
  transition: 1s;
}
.show-section-3 .head-container img {
  opacity: 1;
  transform: translateX(0);
}
.section-3 .head-container .texts {
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
}
.section-3 .head-container .texts .heading {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px; /* 117.857% */
  letter-spacing: -2px;
  transform: translateY(200px);
  opacity: 0;
  transition: 1s 0.2s;
}
.show-section-3 .head-container .texts .heading {
  transform: translateY(0);
  opacity: 1;
}
.section-3 .head-container .texts .title {
  color: rgba(255, 255, 255, 0.65);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px; /* 141.818% */
  transform: translateY(200px);
  opacity: 0;
  transition: 1s 0.4s;
}
.show-section-3 .head-container .texts .title {
  transform: translateY(0);
  opacity: 1;
}
.section-3 .head-container .texts .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
  transform: translateY(200px);
  opacity: 0;
  transition: 1s 0.6s;
}
.show-section-3 .head-container .texts .btn {
  transform: translateY(0);
  opacity: 1;
}
.section-3 .head-container .texts .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: width 0.5s ease;
}
.section-3 .head-container .texts .btn:hover:before {
  width: 100%;
}
.section-3 .head-container .texts .btn .text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.section-3 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
  width: 100%;
}
.section-3 .container .head-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.section-3 .container .head-text p {
  color: #fff;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 40.8px; /* 92.727% */
  letter-spacing: -2px;
  align-self: stretch;
  text-align: start;
  margin-bottom: 20px;
  transform: translateX(200px);
  opacity: 0;
  transition: 1s;
}
.section-3 .container .show-head-text p {
  transform: translateX(0);
  opacity: 1;
}
.section-3 .container .head-text h1 {
  color: #fff;
  font-size: 236px;
  font-style: normal;
  font-weight: 400;
  line-height: 210.8px; /* 89.322% */
  letter-spacing: -10px;
  align-self: stretch;
}
.section-3 .container .head-text h1:nth-child(2) {
  text-align: start;
  transform: translateX(200px);
  opacity: 0;
  transition: 1s 0.2s;
}
.section-3 .container .show-head-text h1:nth-child(2) {
  transform: translateX(0);
  opacity: 1;
}
.section-3 .container .head-text h1:nth-child(3) {
  text-align: end;
  transform: translateX(200px);
  opacity: 0;
  transition: 1s 0.4s;
}
.section-3 .container .show-head-text h1:nth-child(3) {
  transform: translateX(0);
  opacity: 1;
}
.section-3 .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding-top: 70px;
}
.section-3 .cards .big-card {
  position: relative;
  width: 100%;
  height: 560px;
  background: linear-gradient(41deg, #96b7cd 27%, #e68d83 100%);
  transform: translateY(200px);
  opacity: 0;
  transition: 1s;
}
.section-3 .cards .show-big-card {
  transform: translateY(0);
  opacity: 1;
}
.section-3 .cards .big-card .images {
  position: absolute;
  width: 60%;
  height: 90%;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3 .cards .big-card .images img:nth-child(1) {
  /* width: 100%; */
  position: absolute;
  right: 0;
  height: 100%;
  border-top-left-radius: 20px;
}
.section-3 .cards .big-card .images img:nth-child(2) {
  position: absolute;
  width: 185.5px;
  height: 147.5px;
}
.section-3 .cards .big-card .texts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  gap: 1rem;
}
.section-3 .cards .big-card .texts .heading {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.2px;
}
.section-3 .cards .big-card .texts .title {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 148.571% */
}
.section-3 .cards .three-card {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.section-3 .cards .three-card .card {
  position: relative;
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; /* gap: 3rem; */
  background: rgba(255, 255, 255, 0.08);
  overflow: hidden;
}
.section-3 .cards .three-card .card .texts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  gap: 1rem;
}
.section-3 .cards .three-card .card .texts .heading {
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 136.842% */
  letter-spacing: -0.2px;
}
.section-3 .cards .three-card .card .texts .title {
  color: rgba(255, 255, 255, 0.65);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 130% */
}
.section-3 .cards .three-card .card .image img {
  width: 100%;
  height: 70%;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  right: 0;
  object-fit: cover;
  object-position: top left;
  position: absolute;
  left: 40px; /* bottom: -50px; */
}
.section-3 .cards .three-card .card:nth-child(1) .image {
  width: 444.781px;
  height: 346.422px;
  flex-shrink: 0;
}
.section-3 .cards .three-card .card:nth-child(1) .image img {
  bottom: -50px;
}
.section-3 .cards .three-card .card:nth-child(2) .image {
  width: 444.797px;
  height: 346.438px;
  flex-shrink: 0;
}
.section-3 .cards .three-card .card:nth-child(3) .image {
  width: 444.797px;
  height: 370.078px;
  flex-shrink: 0;
}
.section-3 .cards .three-card .card:nth-child(1) {
  transform: translateX(200px);
  opacity: 0;
  transition: 1s;
}
.section-3 .cards .three-card .card:nth-child(2) {
  transform: translateX(200px);
  opacity: 0;
  transition: 1s 0.2s;
}
.section-3 .cards .three-card .card:nth-child(3) {
  transform: translateX(200px);
  opacity: 0;
  transition: 1s 0.4s;
}
.section-3 .cards .show-three-card .card:nth-child(1),
.section-3 .cards .show-three-card .card:nth-child(2),
.section-3 .cards .show-three-card .card:nth-child(3) {
  transform: translateX(0);
  opacity: 1;
}
.section-3 .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-top: 70px;
  padding: 10px 20px;
  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
}
.section-3 .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: width 0.5s ease;
}
.section-3 .btn:hover:before {
  width: 100%;
}
.section-3 .btn svg {
  transition: 0.3s;
  height: 20px;
}
.section-3 .btn:hover svg {
  transform: translateX(10px);
}
/* ------------- Section-4 Styling ------------- */
.section-4 {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2fr 1fr;
  width: calc(100% - 16%);
  padding: 70px 8%;
  color: black;
  background: #f5f5f5;
}
.section-4 .container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.section-4 .container:nth-child(1) h1 {
  color: #000;
  font-size: 121px;
  font-style: normal;
  font-weight: 400;
  line-height: 128px; /* 105.785% */
  letter-spacing: -5px;
}
.section-4 .container:nth-child(1) h1:nth-child(1) {
  transform: translateX(200px);
  opacity: 0;
  transition: 1s;
}
.section-4 .container:nth-child(1) h1:nth-child(2) {
  transform: translateX(200px);
  opacity: 0;
  transition: 1s 0.4s;
}
.show-section-4 .container:nth-child(1) h1:nth-child(1),
.show-section-4 .container:nth-child(1) h1:nth-child(2) {
  transform: translateX(0);
  opacity: 1;
}
.section-4 .container:nth-child(1) .img-h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-4 .container:nth-child(1) .img-h1 img {
  width: 208px;
  height: 116px;
  flex-shrink: 0;
  border-radius: 64px;
  margin-right: 20px;
  transform: translateX(200px);
  opacity: 0;
  transition: 1s 0.2s;
}
.show-section-4 .container:nth-child(1) .img-h1 img {
  transform: translateX(0);
  opacity: 1;
}
.section-4 .container:nth-child(2) .line {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin: 24px 0;
}
.section-4 .container:nth-child(2) .line:nth-child(2) {
  width: 0%;
  transition: 1s 1.2s;
}
.section-4 .container:nth-child(2) .line:nth-child(4) {
  width: 0%;
  transition: 1s 1.8s;
}
.show-section-4 .container:nth-child(2) .line:nth-child(2),
.show-section-4 .container:nth-child(2) .line:nth-child(4) {
  width: 100%;
}
.section-4 .container:nth-child(2) .card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.section-4 .container:nth-child(2) .card .heading {
  color: #000;
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
  line-height: 70.4px; /* 123.509% */
  letter-spacing: -2px;
  transform: translateY(50px);
  opacity: 0;
}
.section-4 .container:nth-child(2) .card:nth-child(1) .heading {
  transition: 1s 0.6s;
}
.section-4 .container:nth-child(2) .card:nth-child(3) .heading {
  transition: 1s 1.2s;
}
.section-4 .container:nth-child(2) .card:nth-child(5) .heading {
  transition: 1s 2s;
}
.show-section-4 .container:nth-child(2) .card:nth-child(1) .heading,
.show-section-4 .container:nth-child(2) .card:nth-child(3) .heading,
.show-section-4 .container:nth-child(2) .card:nth-child(5) .heading {
  transform: translateY(0);
  opacity: 1;
}
.section-4 .container:nth-child(2) .card .title {
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 136.842% */
  letter-spacing: -0.2px;
  transform: translateY(50px);
  opacity: 0;
}
.section-4 .container:nth-child(2) .card:nth-child(1) .title {
  transition: 1s 0.8s;
}
.section-4 .container:nth-child(2) .card:nth-child(3) .title {
  transition: 1s 1.4s;
}
.section-4 .container:nth-child(2) .card:nth-child(5) .title {
  transition: 1s 2.2s;
}
.show-section-4 .container:nth-child(2) .card:nth-child(1) .title,
.show-section-4 .container:nth-child(2) .card:nth-child(3) .title,
.show-section-4 .container:nth-child(2) .card:nth-child(5) .title {
  transform: translateY(0);
  opacity: 1;
}
.section-4 .container:nth-child(2) .card .sub-title {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 138.667% */
  transform: translateY(50px);
  opacity: 0;
}
.section-4 .container:nth-child(2) .card:nth-child(1) .sub-title {
  transition: 1s 1s;
}
.section-4 .container:nth-child(2) .card:nth-child(3) .sub-title {
  transition: 1s 1.6s;
}
.section-4 .container:nth-child(2) .card:nth-child(5) .sub-title {
  transition: 1s 2.4s;
}
.show-section-4 .container:nth-child(2) .card:nth-child(1) .sub-title,
.show-section-4 .container:nth-child(2) .card:nth-child(3) .sub-title,
.show-section-4 .container:nth-child(2) .card:nth-child(5) .sub-title {
  transform: translateY(0);
  opacity: 1;
}
/* ------------- Section-5 Styling ------------- */
.section-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 16%);
  padding: 70px 8%;
  color: black;
  background: #fff;
}
.section-5 .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.section-5 .head .heading {
  color: #000;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 115.2px; /* 90% */
  letter-spacing: -5px;
}
.section-5 .head .sub-heading {
  display: flex; /* padding: 15px 72.941px 48.813px 0px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.section-5 .head .sub-heading .title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px; /* 130% */
}
.section-5 .head .sub-heading .btn {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 64px;
  background: #5b6cff;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
  transition: 0.3s;
}
.section-5 .head .sub-heading .btn:hover {
  background: #3d4dd7;
}
.section-5 .head .sub-heading .btn .text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.section-5 .line {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.2);
  margin: 5rem 0;
}
.section-5 .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.section-5 .cards .card {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 0.5fr 2fr;
  width: 100%;
  gap: 40px;
}
.section-5 .cards .card img {
  width: 100%;
  height: auto;
  border-radius: 360px;
  max-height: 350px;
  object-fit: cover;
}
.section-5 .cards .card .texts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}
.section-5 .cards .card .texts .step {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.2px;
}
.section-5 .cards .card .texts .heading {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.section-5 .cards .card .texts .heading h1 {
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 70.4px; /* 117.333% */
  letter-spacing: -2px;
}
.section-5 .cards .card .texts .heading svg {
  width: 74px;
  height: 74px;
}
.section-5 .cards .card .texts .title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 148.571% */
}
/* ------------- Section-6 Styling ------------- */
.section-6 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 16%);
  padding: 70px 8%;
  color: black;
  background: #f5f5f5;
  gap: 7rem;
  overflow: hidden;
  max-height: 700px;
}
.section-6 .circles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.section-6 .circles .col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.section-6 .circles .col:nth-child(1) {
  transform: translateY(-100px);
}
.section-6 .circles .col:nth-child(2) {
  transform: translateY(50px);
}
.section-6 .circles .col .circle {
  display: flex;
  width: 160px;
  height: 220px;
  padding: 20px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 192px;
  background: #fff;
  box-shadow: 0px 35px 64px 0px rgba(0, 0, 0, 0.08);
}
.section-6 .circles .col .circle .text {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 138.667% */
}
.section-6 .circles .col .circle svg {
  width: 93px;
  height: 28px;
}
.section-6 .circles .col:nth-child(1) .circle:nth-child(2) img {
  width: 53px;
  height: 62px;
}
.section-6 .circles .col:nth-child(1) .circle:nth-child(3) img {
  width: 93.5px;
  height: 62.5px;
}
.section-6 .circles .col:nth-child(2) .circle:nth-child(2) img {
  width: 53px;
  height: 54.5px;
}
.section-6 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.section-6 .container .texts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem;
}
.section-6 .container .texts .head {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.section-6 .container .texts .head .heading {
  color: #000;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: 128px; /* 106.667% */
  letter-spacing: -5px;
}
.section-6 .container .texts .head .sub-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.section-6 .container .texts .head .sub-heading img {
  width: 208px;
  height: 116px;
  border-radius: 64px;
}
.section-6 .container .texts .head .sub-heading h1 {
  color: #000;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: 128px; /* 106.667% */
  letter-spacing: -5px;
}
.section-6 .container .title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
}
/* ------------- Section-7 Styling ------------- */
.section-7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100% - 16%);
  padding: 70px 8%;
  color: black; /* background: #f5f5f5; */
  overflow: hidden;
  gap: 4rem;
}
.section-7 .back {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.section-7 img {
  width: 100%;
}
.section-7 .head-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-top: 150px;
}
.section-7 .head-container .heading {
  color: #000;
  font-family: Inter;
  font-size: 121px;
  font-style: normal;
  font-weight: 400;
  line-height: 115.2px; /* 95.207% */
  letter-spacing: -5px;
}
.section-7 .head-container .arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.section-7 .head-container .arrows svg {
  cursor: pointer;
  border-radius: 360px;
  transition: 0.3s;
}
.section-7 .head-container .arrows svg path {
  transition: 0.3s;
}
.section-7 .head-container .arrows svg:hover path {
  fill: white;
}
.section-7 .head-container .arrows svg:hover {
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
.section-7 .container {
  width: 100%;
}
.section-7 .container .reviews {
  width: 100%;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.section-7 .container .reviews .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 41px 41px 0px 0px;
  border-radius: 0px 48px 0px 0px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  height: 330px; /* gap: 3rem; */
}
.section-7 .container .reviews .card .text {
  color: #fff;
  font-family: Inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px; /* 135.652% */
}
.section-7 .container .reviews .card .client-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1.5rem;
}
.section-7 .container .reviews .card .client-info img {
  width: 64px;
  height: 64px;
  border-radius: 360%;
}
.section-7 .container .reviews .card .client-info .texts .name {
  color: #fff;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 136.842% */
}
.section-7 .container .reviews .card .client-info .texts .title {
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 138.667% */
}
.section-7 .container .reviews .card .logo-company {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.section-7 .container .reviews .card .logo-company img,
.section-7 .container .reviews .card .logo-company svg {
  width: 120px;
  height: auto;
}
/* ------------- Section-8 Styling ------------- */
.section-8 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100% - 16%);
  padding: 70px 8%;
  color: white; /* background: #f5f5f5; */
  overflow: hidden;
  gap: 6rem;
}
.section-8 .head-container {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-8 .head-container .heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  text-align: left;
}
.section-8 .head-container .heading p {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px; /* 120% */
  letter-spacing: -2px;
}
.section-8 .head-container .heading h1 {
  color: #fff;
  font-family: Inter;
  font-size: 127px;
  font-style: normal;
  font-weight: 400;
  line-height: 115.2px; /* 90.709% */
  letter-spacing: -5px;
}
.section-8 .head-container h1 {
  color: #fff;
  font-family: Inter;
  font-size: 121px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.6px; /* 126.942% */
  letter-spacing: -5px;
  align-self: stretch;
  text-align: right;
}
.section-8 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}
.section-8 .container .line {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
}
.section-8 .container .texts {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.section-8 .container .texts h1 {
  align-self: stretch;
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px; /* 128% */
  letter-spacing: -0.25px;
}
/* ------------- Section-9 Styling ------------- */
.section-9 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100% - 16%);
  padding: 70px 8%;
  color: black;
  background: #fff;
  overflow: hidden;
  gap: 4rem;
}
.section-9 h1 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px; /* 117.333% */
  letter-spacing: -2px;
}
.section-9 .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.section-9 .cards .card {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.section-9 .cards .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0px 48px 0px 0px;
}
.section-9 .cards .card .hashtag {
  display: inline-flex;
  padding: 4px 12.813px 5.391px 13px;
  align-items: flex-start;
  border-radius: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.section-9 .cards .card .hashtag p {
  color: rgba(0, 0, 0, 0.65);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 15.4px; /* 118.462% */
}
.section-9 .cards .card .title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  letter-spacing: -0.2px;
}
.section-9 .cards .card .btn {
  position: relative;
}
.section-9 .cards .card .btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #5b6cff;
  z-index: 1;
  transition: 0.3s;
}
.section-9 .cards .card .btn:hover::before {
  width: 100%;
}
.section-9 .cards .card .btn .text {
  color: #5b6cff;
  text-align: center;
  font-family: Inter;
  font-size: 18.84px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.824px; /* 115.839% */
  letter-spacing: -0.2px;
}
.section-9 #btn {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 64px;
  background: #5b6cff;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
  transition: 0.3s;
}
.section-9 #btn:hover {
  background: #3d4dd7;
}
.section-9 #btn .text {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400; /* line-height: 0px;  */
}
/* ------------- Section-10 Styling ------------- */
.section-10 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100% - 16%);
  padding: 150px 8%;
  color: white; /* background: #fff; */
  overflow: hidden;
  gap: 4rem;
}
.section-10 .head-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section-10 .head-container .heading {
  color: #fff;
  font-family: Inter;
  font-size: 114px;
  font-style: normal;
  font-weight: 400;
  line-height: 115.2px; /* 101.053% */
  letter-spacing: -5px;
}
.section-10 .head-container .btn {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
}
.section-10 .head-container .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: width 0.5s ease;
}
.section-10 .head-container .btn:hover:before {
  width: 100%;
}
.section-10 .head-container .btn .text {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.section-10 .container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 34px 34px 0px 0px;
  border-radius: 0px 56px 0px 0px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  margin-top: 50px;
}
.section-10 .container .col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.section-10 .container .col:first-child {
  margin-top: 45px;
}
.section-10 .container .col .date {
  display: inline-flex;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 32px;
  border: 1px solid #fff;
}
.section-10 .container .col h1 {
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px; /* 110% */
  letter-spacing: -2px;
}
.section-10 .container .col .btn {
  display: inline-flex;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 64px;
  background: #5b6cff;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
  transition: 0.3s;
}
.section-10 .container .col .btn:hover {
  background: #3d4dd7;
}
/* ------------- Section-11 Styling ------------- */
.section-11 {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  grid-template-columns: repeat(2, 1fr);
  width: calc(100% - 16%);
  padding: 150px 8%;
  color: white; /* background: #fff; */
  overflow: hidden;
  gap: 4rem;
}
.section-11 .back-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.section-11 .col:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10rem;
}
.section-11 .col:nth-child(2) .heading {
  color: #fff;
  font-family: Inter;
  font-size: 59px;
  font-style: normal;
  font-weight: 400;
  line-height: 70.4px; /* 119.322% */
  letter-spacing: -2px;
}
.section-11 .col:nth-child(2) .title {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px; /* 141.818% */
}
.section-11 .col:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
}
.section-11 .col:nth-child(3) input {
  width: 100%;
  padding: 15px 0;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff; /*  */
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section-11 .col:nth-child(3) input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.section-11 .col:nth-child(3) .input-email {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #fff;
  width: 100%;
}
.section-11 .col:nth-child(3) .input-email input {
  border: none;
  width: 100%;
}
.section-11 .col:nth-child(3) .input-email svg {
  cursor: pointer;
  overflow: visible;
}
.section-11 .col:nth-child(3) .input-email svg path {
  transition: 0.3s;
}
.section-11 .col:nth-child(3) .input-email svg:hover path {
  transform: translateX(15px);
}
/* ------------- Section-12 Styling ------------- */
.section-12 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100% - 16%);
  padding: 150px 8%;
  color: black;
  background: #fff;
  overflow: hidden;
  gap: 4rem;
}
.section-12 .head-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.section-12 .head-container .heading {
  display: flex;
  width: 728.872px;
  height: 278.188px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 115.2px; /* 90% */
  letter-spacing: -5px;
}
.section-12 .head-container .title {
  display: flex;
  width: 683.263px;
  height: 62.188px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px; /* 130% */
}
.section-12 .head-container .btn {
  display: inline-flex;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 64px;
  background: #5b6cff;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
  transition: 0.3s;
}
.section-12 .head-container .btn:hover {
  background: #3d4dd7;
}
.section-12 .head-container .btn .text {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.section-12 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.section-12 .container .images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section-12 .container .images:first-child {
  transform: translateX(50px);
}
.section-12 .container .images:last-child {
  transform: translateX(-50px);
}
.section-12 .container .images img {
  width: 490px;
  height: 160px;
  border-radius: 360px;
}
/* ------------- Last Section Styling ------------- */
.last-section {
  position: relative;
  display: grid;
  align-items: flex-start;
  justify-content: flex-start; /* flex-direction: column; */
  grid-template-columns: repeat(4, 1fr);
  width: calc(100% - 16%);
  padding: 150px 8%;
  color: white; /* background: #fff; */
  overflow: hidden;
  gap: 4rem;
}
.last-section .texts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.last-section .texts .heading {
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.2px; /* 140% */
}
.last-section .texts .links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.last-section .texts .links .link {
  color: #fff;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 126.316% */
  letter-spacing: -0.2px;
  position: relative;
  cursor: pointer;
}
.last-section .texts .links .link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: white;
  z-index: 1;
  transition: 0.3s;
}
.last-section .texts .links .link:hover::before {
  width: 100%;
}
/* ------------- Footer Styling ------------- */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 16%);
  padding: 20px 8%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
footer .texts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
footer .texts p:nth-child(2),
footer .texts p:nth-child(3) {
  cursor: pointer;
}
footer .texts p:nth-child(2):hover,
footer .texts p:nth-child(3):hover {
  text-decoration: underline;
}
footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .icons svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
footer .icons svg path {
  transition: 0.3s;
}
footer .icons svg:hover path {
  fill: #5b6cff;
}
